<%= form_with(model: public_asset) do |form| %>
  <% if public_asset.errors.any? %>
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          <%= pluralize(public_asset.errors.count, "error") %> prohibited this record from being saved:
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <% public_asset.errors.each do |error| %>
              <li><%= link_to error.full_message, "#public_asset_url" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <%
    div_classes = ["govuk-form-group"]
    field_classes = ["govuk-input"]

    if public_asset.errors.any?
      div_classes << "govuk-form-group--error"
      field_classes << "govuk-input--error"
    end
  %>

  <div class="<%= div_classes.join(" ") %>">
    <%= form.label :url, class: "govuk-label govuk-label--m" %>
    <% if public_asset.errors.any? %>
      <p id="public_asset_url-input-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter a valid URL
      </p>
    <% end %>
    <%= form.text_field :url, value: @public_asset.url, class: field_classes.join(" ") %>
  </div>

  <div class="govuk-form-group">
    <%= form.label :validate_by, class: "govuk-label govuk-label--m" %>
    <%= form.select :validate_by, ["size", "version"], { selected: @public_asset.validate_by }, { class: "govuk-select" } %>
  </div>

  <% if @public_asset.validate_by_version? %>
    <div class="govuk-form-group">
      <%= form.label :hosted_version_regex, class: "govuk-label govuk-label--m" %>
      <div id="size-hint" class="govuk-hint">
        Please enter a regex which has a capture group for the version number of the GOV.UK maintained JavaScript file.
      </div>
      <%= form.text_field :hosted_version_regex, value: @public_asset.hosted_version_regex, class: "govuk-input" %>
    </div>

    <div class="govuk-form-group">
      <%= form.label :source_version_regex, class: "govuk-label govuk-label--m" %>
      <div id="size-hint" class="govuk-hint">
        Please enter a regex which has a capture group for the version number of the source JavaScript file as it appears on <a href="<%= ENV['GITHUB_URL'] %>" target="_blank">GitHub</a>.
      </div>
      <%= form.text_field :source_version_regex, value: @public_asset.source_version_regex, class: "govuk-input" %>
    </div>
  <% end %>

  <%= form.submit "Save", class: "govuk-button" %>
<% end %>
