<%= form_with(model: public_asset) do |form| %>
  <% if public_asset.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(public_asset.errors.count, "error") %> prohibited this public_asset from being saved:</h2>

      <ul>
        <% public_asset.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render "govuk_publishing_components/components/input", {
    label: {
      text: "URL"
    },
    id: "public_asset_url",
    name: "public_asset[url]",
    value: @public_asset.url,
    autofocus: true,
    tabindex: 0
  } %>

  <%= render "govuk_publishing_components/components/radio", {
    heading: "How would you like this URL validated?",
    heading_size: "m",
    heading_level: 0,
    id: "public_asset_validate_by",
    name: "public_asset[validate_by]",
    items: [
      {
        value: "size",
        text: "Size",
        checked: @public_asset ? (@public_asset[:validate_by] == "size" ? true : false ) : true,
      },
      {
        value: "version",
        text: "Version",
        checked: @public_asset ? (@public_asset[:validate_by] == "version" ? true : false ) : true,
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/button", text: "Save", margin_bottom: true %>
<% end %>
