<%= render "notice", locals: { notice: notice } %>

<p class="govuk-body">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Pubic assets</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">URL</th>
        <th scope="col" class="govuk-table__header">Current value</th>
        <th scope="col" class="govuk-table__header">Validate by</th>
        <th scope="col" class="govuk-table__header"></th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @public_assets.each do |public_asset| %>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <%= public_asset.url %>
          </td>
          <td class="govuk-table__cell">
            <%= public_asset.public_asset_statuses.last.value if public_asset.public_asset_statuses.any? %>
          </td>
          <td class="govuk-table__cell">
            <%= public_asset.validate_by %>
          </td>
          <td scope="row" class="govuk-table__cell">
            <%= link_to "Show", public_asset, class: "govuk-link" %> |
            <%= link_to "Open", public_asset.url, target: :_blank, class: "govuk-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
