<p style="color: green"><%= notice %></p>

<%= render @public_asset %>

<% if @public_asset.validate_by_size? %>
  <%= render "line_chart", labels: @labels.to_json, url: @url.to_json, sizes: @sizes %>
<% else %>
  <%= render "list_versions", public_asset_statuses: @public_asset.public_asset_statuses %>
<% end %>

<div>
  <%= link_to "Edit", edit_public_asset_path(@public_asset) %>
  <%= button_to "Destroy", @public_asset, method: :delete %>
</div>
