<%= render "notice", locals: { notice: notice } %>

<span class="govuk-caption-m"><%= @public_asset.validate_by %></span>
<h1 class="govuk-heading-m"><%= @public_asset.url %></h1>

<div class="govuk-!-padding-bottom-9">
  <%= render "line_chart", labels: @labels.to_json, url: @url.to_json, values: @values %>
</div>

<p class="govuk-body">
  <%= link_to "Edit", edit_public_asset_path(@public_asset), class: "govuk-link" %>
  | <%= link_to "New", new_public_asset_path, class: "govuk-link" %>
  <% if @public_asset.validate_by_version? %>
    | <%= link_to "Ours", ENV["GITHUB_URL"], target: :_blank, class: "govuk-link" %>
    | <%= link_to "Source", @public_asset.url, target: :_blank, class: "govuk-link" %>
  <% else %>
    | <%= link_to "Open", @public_asset.url, target: :_blank, class: "govuk-link" %>
  <% end %>
  <br/>

  <%= button_to "Destroy", @public_asset, method: :delete, class: "govuk-button govuk-button--warning", data: { module: "govuk-button" } %>
</p>

<h2 class="govuk-heading-m">Update current value</h2>

<div>
  <%= render "public_asset_statuses/form", public_asset: @public_asset %>
</div>
