<%= form_with(model: PublicAssetStatus.new) do |form| %>
  <%= form.hidden_field :public_asset_id, value: @public_asset.id %>

  <% current_value = @public_asset.public_asset_statuses.last.value if @public_asset.public_asset_statuses.any? %>

  <% if @public_asset.validate_by_version? %>
    <% hint = "Please give new version number." %>
  <% else %>
    <% hint = "Please give new size in Bytes without commas." %>
  <% end %>

  <div class="govuk-form-group">
    <div id="size-hint" class="govuk-hint">
      <%= hint %>
    </div>
    <%= form.number_field :value, value: current_value, class: "govuk-input" %>
  </div>

  <%= form.submit "Update", class: "govuk-button" %>
<% end %>
